.navigation {
    position: fixed;
    width: 100%;
    background-color: rgb(24, 18, 59);
    list-style-type: none;
    text-align: right;
    margin: 0;
    top: 0;   
}
.navigation li {
    display: inline-block;
    margin-right: 3.0%;
}
.navigation li a {
    display: inline-block;
    padding: 1.5rem;  
    text-decoration: none;
    color: rgb(209, 159, 255);
    font-size: 1.5rem;
    transition-delay: .5ms;
    transition-duration: 1s;
}
.euthamia img {
    float: left;
    margin-left: 1%;
    width: 80px;
}
.navigation a:hover {
    color: white;
    text-decoration: underline;
}