.body_container {
    display: block;
    box-sizing: border-box;
    width: 65%;
    height: 100%;
    align-items: center;
    margin: auto;
    margin-top: 110px;
}
.body_container .tabs .box {
    display: flex;
    box-sizing: border-box;
    align-items: center;
    width: 100%;
    padding: 2%;
    margin: 2%;
}
article {
    margin-left: 1.5%;
    font-size: 120%;
    display: flex;
    flex-direction: column;
    width: 100%;
    text-align: center;
}
.tabs .content article p {
    text-indent: 5%;
    text-align: justify;
}
.content{
    align-items: center;
}
.tabs .box img {
    width: 45%;
    height: auto;
    margin: auto;
}
.tabs .content .content_photo {
    width: 45%;
    border-radius: 50%;
}
.tabs .content .fullDP_photo {
    width: 75%;
}
.tabs .content .direction_side .portfolio {
    display: flex;
    width: 22%;
    padding: 1%;
    border-radius: 10%;
    margin: auto;
}

.tabs .content .direction_side {
    display: flex;
    flex-direction: row;
    width: 100%;
}
a {
    text-decoration: none;
    color: black;
}
.body_container .tabs {
    border: solid rgb(24, 18, 59);;
    display: flex;
    margin: 2%;
}
.body_container .tabs_sidebar {
    width: 15%;
    flex-shrink: 0;
    background-color: rgb(209, 159, 255);
}
.button_tab {
    display: block;
    padding: 10%;
    background-color: rgb(209, 159, 255);
    color: rgb(24, 18, 59);
    font-size: 100%;
    border: none;
    width: 100%;
    outline: none;
    cursor: pointer;
    transition-duration: .5s;
}
.button_tab:hover {
    color: white;
    background-color: rgb(24, 18, 59);
}
.button_tab:active {
    background: rgb(24, 18, 59);
}
.button_tab:not(:last-of-type) {
    border-bottom: 1.5% solid rgb(209, 159, 255);
}
.button_tab--active {
    font-weight: bold;
    border-right: 10px solid #9C27B0;
    background: rgb(24, 18, 59);
    color: white;
}
.content {
    padding: 2%;
    display: none;
    background: white;  
}
.content--active {
    display: block;
}
.content > :first-child {
    margin-top: 0;
}
.tabs .content article {
    margin: auto;
    width: 100%;
    display: flex;
}
.tabs .content .left_align {
    text-align: justify;
    flex-direction: column;
}
.tab1 {
    tab-size: 5;
    font-size: 110%;
    font-family: 'Poppins', sans-serif;
}